.header {
  display: flex;
  justify-content: space-between;
  max-width: clamp(928px, 92.5vw, 1184px);
  max-height: clamp(42px, 6.770833vw, 52px);
  margin-top: clamp(16px, 3.645833vw, 28px);
  margin-right: auto;
  margin-bottom: clamp(48px, 4.375vw, 56px);
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: clamp(720px, 90.625vw, 928px);
    margin-bottom: clamp(16px, 6.25vw, 48px);
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: clamp(288px, 93.75vw, 720px);
  }
}
