.lead__title {
  font-weight: 900;
  font-size: min(96px, 12.5vw);
  line-height: calc(100% + 4px);
  text-align: center;
  width: calc(728 * (100vw - 40px) / (768 - 40));
  max-width: 720px;
  min-width: 288px;
  margin: 0 auto 32px;
}

@media all and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
