.intro__text {
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 33px;
  width: calc(720px - 30 * (100vw - 768px) / (1024 - 768));
  min-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: auto;
    max-width: 720px;
    min-width: 288px;
  }
}
