.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  max-height: 740px;
  height: 62.5vw;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-bottom: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
  }
}
